<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}"/>
    <link th:href="@{/webjars/bootswatch/3.3.7/flatly/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mvc.css}"/>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>

</head>

</html>

